<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="SportsLeaders"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Leaders.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
